*{
 margin: 0;  
 padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}
.cabeçalho{ 
    background-color: #bb1632;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
} 

.cabeçalho-imagem{
    width: 15%;
}

.cabeçalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 20px;
}

.escola-imagem{
   width: 25%;
}

.escola{ 
    background-image: linear-gradient(#bb1632, #4ebfe9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 200px;
}

.estudante-icone{
    width: 24px;
}

.estudante-div{
    text-align: center;
}

.estudante-título{
text-align: center;
padding: 50px 0;
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}



